[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
flask-restful = "*" 
Werkzeug = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
sqlalchemy-serializer = "*"
flask_cors="*"
flask-bcrypt="*"
sqlalchemy = "*"
flask-jwt-extended = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.8"
